*~
*.prefab
Standard Assets
Custom Assets
Materials
*.mb
*.fbx
*.mat
*.jpg
*.png
*.ttf
*.mp3
*.unity
*.wav
*.asset
Sounds/Music/explicacao audios fase 1.txt
Characters/Medrash/Models/
Objects/
OnlyPlay.cs
Panther/
Scripts/Misc/
Scripts/Unity/
Shaders/
Textures/
Toolkits/
*.gif
